<template>
  <Layout>
    <view class="uu-flex-1">
      <NavbarFloat :click="onBack" color="#b3b3b3" />
      <StatusBar />

      <view class="uu-p-40 uu-pb-100">
        <view class="uu-text-35 uu-pl-30 uu-pr-30 uu-text-center">{{ mailboxDetail?.title }}</view>
        <view class="uu-text-28 uu-pt-50 uu-text-gray-500 uu-text-center uu-flex uu-flex-row uu-item-center uu-justify-center">
          <view>是否群发：{{ mailboxDetail?.is_group ? '是' : '否' }}</view>
          <view class="uu-pl-20 uu-pr-20">|</view>
          <view>打开时间：{{ mailboxDetail?.publish_at }}</view>
        </view>
        <!--内容-->
        <view class="uu-text-justify uu-break-all uu-whitespace-pre-wrap uu-text-30 uu-pt-50 uu-pb-30 uu-text-gray-800">
          {{ mailboxDetail?.content }}
        </view>
        <!--图片-->
        <view v-if="mailboxDetail?.picture?.length" class="uu-flex uu-flex-row uu-mt-30">
          <template v-if="mailboxDetail.picture.length === 1">
            <view class="uu-flex uu-flex-col uu-items-center">
              <image
                v-for="(item,i) in mailboxDetail?.picture"
                :key="item.id"
                :src="item.url"
                class="uu-w-650 uu-mb-20"
                mode="widthFix"
                @click="onPreview(i)"
              />
            </view>
          </template>
          <template v-else>
            <image
              v-for="(item,i) in mailboxDetail.picture"
              :key="item.id"
              :src="item.url"
              class="uu-w-150 uu-h-150 uu-mt-20 uu-mr-20"
              mode="aspectFill"
              @click="onPreview(i)"
            />
          </template>
        </view>
        <template v-if="!props.detail">
          <!--发件人-->
          <template v-if="mailboxDetail?.creator?.id !== userInfo?.id">
            <view class="uu-mt-50 uu-p-30">
              <view class="uu-flex uu-items-center uu-justify-center uu-text-center uu-w-450 uu-m-auto uu-h-1 uu-bg-gray-200">
                <view class="uu-text-24 uu-text-gray-400 uu-inline uu-bg-white uu-pl-20 uu-pr-20">发件人</view>
              </view>
            </view>
            <view class="btn uu-w-full uu-relative uu-mt-15 uu-w-150 uu-h-150 uu-text-center">
              <image :src="mailboxDetail?.creator?.avatar || avatarDefaultUrl" class="uu-w-150 uu-h-150 uu-rd-250" />
            </view>
            <view class="uu-mt-25 uu-text-28 uu-text-center">
              {{ mailboxDetail?.creator?.name || '无用户昵称' }}
            </view>
          </template>
          <!--收件人-->
          <template v-if="mailboxDetail?.users?.length">
            <view class="uu-mt-50 uu-p-30">
              <view class="uu-flex uu-items-center uu-justify-center uu-text-center uu-w-450 uu-m-auto uu-h-1 uu-bg-gray-200">
                <view class="uu-text-24 uu-text-gray-400 uu-inline uu-bg-white uu-pl-20 uu-pr-20">收件人</view>
              </view>
            </view>
            <scroll-view class="uu-h-250 uu-text-center" scroll-x>
              <view class="uu-whitespace-nowrap">
                <view v-for="item in mailboxDetail?.users" :key="item.id" class="uu-inline-block uu-mt-15 uu-ml-10 uu-mr-10 uu-w-150">
                  <view class="btn uu-relative uu-text-center">
                    <image :src="item.avatar || avatarDefaultUrl" class="uu-w-150 uu-h-150 uu-rd-250" />
                  </view>
                  <view class="uu-mt-25 uu-text-28 uu-text-center uu-w-150 text-ellipsis-1">
                    {{ item.name || '无用户昵称' }}
                  </view>
                </view>
              </view>
            </scroll-view>
          </template>
        </template>
      </view>
    </view>
  </Layout>
</template>

<script lang="ts" setup>
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import {ref} from 'vue'
import {MailBoxDetailRes} from '@/api/mail-box/mail-box.types'
import {mailbox_detail} from '@/api/mail-box/mail-box'
import {onLoad} from '@dcloudio/uni-app'
import Layout from '@/components/layout/layout.vue'
import StatusBar from '@/components/status-bar/status-bar.vue'
import {trim} from '@sky-serein/js-utils'
import {useRouter} from 'uni-mini-router'
import avatarDefaultUrl from '@/static/common/avatar.png'
import {useUserInfoStore} from '@/state/modules/user-info'

const props = defineProps<{
  detail?: Partial<MailBoxDetailRes>
}>()
const emit = defineEmits(['clear'])

const userInfo = useUserInfoStore().user
const router = useRouter()
const mailboxDetail = ref<Partial<MailBoxDetailRes>>()

function onBack() {
  if (props.detail) {
    emit('clear')
  } else {
    uni.navigateBack({
      fail: () => {
        router.replace({name: 'home'})
      },
    })
  }
}

async function getMailboxDetail(id?: string, detail?: Partial<MailBoxDetailRes>) {
  let data: Partial<MailBoxDetailRes> | undefined = detail
  if (id) {
    const res = await mailbox_detail(id)
    data = res.data.data
  }
  if (data) {
    mailboxDetail.value = {...data, content: trim(data.content || '')}
  }
}

function onPreview(index: number) {
  uni.previewImage({
    current: index,
    urls: mailboxDetail.value?.picture?.map(item => item.url) || [],
    loop: true,
  })
}

onLoad((params: { id: string; }) => {
  if (params.id) {
    getMailboxDetail(params.id)
  }
})

// 预览
if (props.detail) {
  getMailboxDetail(undefined, props.detail)
}
</script>

<style lang="scss" scoped></style>
