<template>
  <Layout>
    <view class="uu-relative page uu-flex-1">
      <NavbarFloat />

      <view class="uu-pt-250 uu-pl-100">
        <view class="uu-text-50">登录</view>
        <view class="uu-text-22 uu-pt-10 uu-text-gray-500">欢迎来到{{ projectTitle }}~</view>
      </view>

      <!--手机号码登录(功能暂未支持)-->
      <view v-if="false" class="uu-pl-75 uu-pr-75 uu-pt-100 uu-pb-100">
        <view class="uu-relative uu-p-20">
          <input
            v-model="formData.telephone"
            class="uu-h-70 uu-leading-70 uu-bg-neutral-100 uu-bg-opacity-50 uu-p-20 uu-pl-80 uu-pr-20 uu-text-28 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-300"
            placeholder="请输入手机号码"
          />
          <view class="uu-absolute uu-top-35 uu-left-40">
            <uni-icons color="#999" custom-prefix="iconfont" size="40rpx" type="iconfont-shouji"></uni-icons>
          </view>
        </view>

        <view class="uu-relative uu-p-20">
          <input
            v-model="formData.code"
            class="uu-h-70 uu-leading-70 uu-bg-neutral-100 uu-bg-opacity-50 uu-p-20 uu-pl-80 uu-pr-20 uu-text-28 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-300"
            placeholder="请输入验证码"
          />
          <view class="uu-absolute uu-top-35 uu-left-40">
            <uni-icons color="#999" custom-prefix="iconfont" size="40rpx" type="iconfont-yanzhengma"></uni-icons>
          </view>
        </view>

        <view class="uu-relative uu-p-20">
          <input
            v-model="formData.password"
            class="uu-h-70 uu-leading-70 uu-bg-neutral-100 uu-bg-opacity-50 uu-p-20 uu-pl-80 uu-pr-20 uu-text-28 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-300"
            placeholder="请输入密码"
          />
          <view class="uu-absolute uu-top-35 uu-left-40">
            <uni-icons color="#999" custom-prefix="iconfont" size="40rpx" type="iconfont-mima"></uni-icons>
          </view>
        </view>

        <view class="uu-flex uu-flex uu-flex-row- uu-justify-between uu-items-center uu-pt-10 uu-pl-20 uu-pr-20">
          <view class="uu-text-24 uu-text-blue" @click="onTipsDev()">快速注册</view>
          <view class="uu-text-grey uu-text-24" @click="onTipsDev()">忘记密码</view>
        </view>

        <view class="uu-mt-60 uu-p-20">
          <button
            class="uu-text-31 uu-bg-blue-700 uu-text-white uu-rd-50"
            disabled
            @click="onTipsDev()"
          >
            提交
          </button>
        </view>
      </view>

      <view class="uu-pl-75 uu-pr-75 uu-pt-150 uu-pb-100 uu-text-center">
        <image :src="logoUrl" class="uu-w-300" mode="widthFix" />
      </view>

      <!--第三方登录-->
      <view class="uu-absolute uu-w-full uu-bottom-150 uu-left-0">
        <view class="uu-flex uu-items-center uu-justify-center uu-text-center uu-w-450 uu-m-auto uu-h-1 uu-bg-gray-200">
          <view class="uu-text-24 uu-text-gray-400 uu-inline uu-bg-white uu-pl-20 uu-pr-20">第三方登录</view>
        </view>
        <view class="uu-flex uu-flex-row uu-justify-center uu-items-center uu-pt-65">
          <uni-icons color="#04BC60" custom-prefix="iconfont" size="65rpx" type="iconfont-weixin" @click="onWxLogin()"></uni-icons>
        </view>
      </view>
    </view>
  </Layout>
</template>

<script lang="ts" setup>
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import {ref} from 'vue'
import {onLoad} from '@dcloudio/uni-app'
import {useRouter} from 'uni-mini-router'
import {weixin_login} from '@/api/common/common'
import {getEnvValue} from '@/utils/env'
import {hideLoading, loading, toast} from '@/utils/uniapi/prompt'
import {useUserInfoStore} from '@/state/modules/user-info'
import useTokenStorage from '@/storage/token'
import Layout from '@/components/layout/layout.vue'
import {UserInfo} from '@/api/user-info/user-info.types'
import logoUrl from '@/static/common/logo.png'

const projectTitle = getEnvValue('VITE_PROJECT_TITLE')
const redirectUrl = ref('')
const router = useRouter()
const formData = ref({
  telephone: '',
  password: '',
  code: '',
})

onLoad((params: any) => {
  if (params.redirect) {
    redirectUrl.value = decodeURIComponent(params.redirect)
  }
})

function onTipsDev() {
  toast('开发中，请使用微信登录')
}

function onWxLogin() {
  loading('登录中...')
  uni.login({
    success: async (res) => {
      const {code} = res
      console.log(res)
      const resLogin = await weixin_login(code)
      useTokenStorage.setToken(resLogin.data.data)
      loginSuccess()
    },
  })
}

async function loginSuccess() {
  const userInfo = await useUserInfoStore().getUserInfo() as UserInfo
  hideLoading()
  if (!userInfo) return
  if (redirectUrl.value) {
    return router.replace({path: redirectUrl.value})
  }
  if (!userInfo.name || !userInfo.avatar) {
    return router.replace({name: 'home', params: {tab: 'mine'}})
  }
  uni.navigateBack({
    fail: () => {
      router.replace({name: 'home'})
    },
  })
}
</script>

<style lang="scss" scoped>

.platform-wrapper {
  position: absolute;
  bottom: 200rpx;
  width: 100%;
  left: 0;

  .divider {
    width: 550rpx;
    margin: auto;
  }
}
</style>
