<template>
  <Layout>
    <NavbarFloat color="#b3b3b3" />

    <z-paging
      ref="pagingRef"
      v-model="queryList"
      :auto-show-back-to-top="true"
      :back-to-top-style="{right: '60rpx', bottom: '200rpx'}"
      :back-to-top-with-animate="false"
      :default-page-no="1"
      :default-page-size="20"
      :inside-more="true"
      :safe-area-inset-bottom="true"
      :show-loading-more-when-reload="true"
      :show-scrollbar="false"
      :use-safe-area-placeholder="true"
      cell-height-mode="fixed"
      @query="getQueryList"
    >
      <template #top>
        <StatusBar />
        <uni-notice-bar :text="tipsText" />
      </template>

      <uni-swipe-action>
        <uni-swipe-action-item v-for="(item,i) in queryList" :key="item.id">
          <view
            class="uu-flex uu-flex-row uu-p-15 uu-pt-20  uu-pb-20 uu-bg-white"
            @click.stop="onGoPage({ name: 'mailbox-detail', params: {id:item.id}})"
          >
            <view class="uu-flex-1 uu-flex uu-flex-row uu-items-center uu-justify-start">
              <text class="uu-text-31 uu-ml-20">{{ item.title }}</text>
              <uni-icons class="uu-ml-auto" color="#afafaf" size="40rpx" type="forward"></uni-icons>
            </view>
          </view>
        </uni-swipe-action-item>
      </uni-swipe-action>
    </z-paging>
  </Layout>
</template>

<script lang="ts" setup>
import {ref} from 'vue'
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import {useRouter} from 'uni-mini-router'
import {open_mailbox_list} from '@/api/mail-box/mail-box'
import {onGoPage} from '@/utils/business'
import StatusBar from '@/components/status-bar/status-bar.vue'
import Layout from '@/components/layout/layout.vue'

const tipsText = '在这璀璨星空下，我与过去的自己交流，为你写下这封静谧的信。愿你在未来的旅途中，天空晴朗，信风轻拂；爱心温柔，笑容常在。'
const router = useRouter()
const pagingRef = ref()

const queryList = ref([])

const getQueryList = async (pageNo: number, pageSize: number) => {
  const res = await open_mailbox_list({
    page_index: pageNo,
    page_size: pageSize,
  })
  pagingRef.value?.complete(res.data.data.items)
}
</script>

<style lang="scss" scoped>
.placeholder-top {
  // #ifdef MP-WEIXIN
  padding: calc(var(--status-bar-height) + 125rpx) 0 0;
  // #endif

  // #ifndef MP-WEIXIN
  padding: calc(var(--status-bar-height)) 0 0;
  // #endif
}

.cell-title {
  width: 400rpx;
  font-size: 30rpx;
}

.cell-status {
  font-size: 20rpx;
  color: #f00;
  padding: 10rpx 0 0;
}
</style>
