<template>
  <Layout>
    <view class="uu-flex-1 uu-pb-100">
      <NavbarFloat color="#b3b3b3" />
      <image
        :draggable="false"
        lazy-load
        mode="widthFix"
        src="https://open.sereinapp.com/mailbox/app-material/open-top-bg.png"
        style="width: 100%;"
      />

      <view class="uu-pl-30 uu-pr-30 uu-pt-100">
        <view class="uu-relative uu-p-20">
          <input
            v-model="formData.id"
            class="uu-h-70 uu-leading-70 uu-bg-opacity-50 uu-p-20 uu-pl-80 uu-pr-20 uu-text-28 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-300"
            placeholder="请粘贴信件口令"
          />
          <view class="uu-absolute uu-top-35 uu-left-40">
            <uni-icons color="#999" size="40rpx" type="email"></uni-icons>
          </view>
        </view>

        <view v-if="formData.is_password" class="uu-relative uu-p-20 uu-mt-30">
          <input
            v-model="formData.password"
            class="uu-h-70 uu-leading-70 uu-bg-opacity-50 uu-p-20 uu-pl-80 uu-pr-20 uu-text-28 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-300"
            placeholder="请粘贴信件密码"
          />
          <view class="uu-absolute uu-top-35 uu-left-40">
            <uni-icons color="#999" custom-prefix="iconfont" size="40rpx" type="iconfont-mima"></uni-icons>
          </view>
        </view>

        <view class="uu-mt-30 uu-p-20">
          <button
            class="uu-text-31 uu-bg-blue-700 uu-text-white uu-rd-50"
            @click="onOpenMailbox()"
          >
            打开信件
          </button>
        </view>

        <view v-if="formData.mailboxDetail" class="uu-pt-50">
          <view class="uu-p-30">
            <view class="uu-flex uu-items-center uu-justify-center uu-text-center uu-w-450 uu-m-auto uu-h-1 uu-bg-gray-200">
              <view class="uu-text-24 uu-text-gray-400 uu-inline uu-bg-white uu-pl-20 uu-pr-20">待打开的信件</view>
            </view>
          </view>
          <view class="uu-w-600 uu-m-auto uu-mt-15 uu-text-30 uu-text-block uu-text-center">
            {{ formData.mailboxDetail.title }}
          </view>
          <view
            v-if="formData.mailboxDetail.desc"
            class="uu-w-600 uu-m-auto uu-mt-25 uu-text-26 uu-text-gray-500 uu-text-justify uu-break-all uu-whitespace-pre-wrap"
          >
            {{ formData.mailboxDetail.desc }}
          </view>
          <view class="uu-mt-80 uu-p-30">
            <view class="uu-flex uu-items-center uu-justify-center uu-text-center uu-w-450 uu-m-auto uu-h-1 uu-bg-gray-200">
              <view class="uu-text-24 uu-text-gray-400 uu-inline uu-bg-white uu-pl-20 uu-pr-20">发件人</view>
            </view>
          </view>
          <view class="btn uu-w-full uu-relative uu-mt-15 uu-text-center">
            <image :src="formData.mailboxDetail.creator.avatar || avatarDefaultUrl" class="uu-w-150 uu-h-150 uu-rd-250" />
          </view>
          <view class="uu-mt-25 uu-text-28 uu-text-center">
            {{ formData.mailboxDetail.creator.name || '无用户昵称' }}
          </view>
          <view v-if="!formData.is_open" class="uu-mt-25 uu-text-28 uu-text-red-500 uu-text-center">
            信件打开时间：{{ formData.mailboxDetail.publish_at }}
          </view>
        </view>
      </view>
    </view>
  </Layout>
</template>

<script lang="ts" setup>
import {ref} from 'vue'
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import Layout from '@/components/layout/layout.vue'
import {hideLoading, loading, toast} from '@/utils/uniapi/prompt'
import {mailbox_inspection, open_mailbox} from '@/api/mail-box/mail-box'
import {onLoad} from '@dcloudio/uni-app'
import {getCurrentPageUrl, isLogged} from '@/utils/business'
import {InspectionMailboxRes} from '@/api/mail-box/mail-box.types'
import dayjs from 'dayjs'
import avatarDefaultUrl from '@/static/common/avatar.png'
import {useRouter} from 'uni-mini-router'

const router = useRouter()
const formData = ref({
  id: '',
  password: '',
  is_password: false,
  is_open: false,
  mailboxDetail: null as InspectionMailboxRes,
})

async function beforeInspectionOpenMailbox() {
  loading('读取中...')
  const res = await mailbox_inspection(formData.value.id)
  formData.value.mailboxDetail = res.data.data
  hideLoading()
  if (dayjs().unix() < dayjs(formData.value.mailboxDetail.publish_at).unix()) {
    toast('未到信件打开时间')
    formData.value.is_open = false
    return false
  } else {
    formData.value.is_open = true
  }
  if (formData.value.mailboxDetail.is_open) {
    router.push({name: 'mailbox-detail', params: {id: formData.value.id}})
    return false
  }
  if (formData.value.mailboxDetail.is_group_limit) {
    toast('信件已被他人拾取')
    return false
  }
  if (formData.value.mailboxDetail.is_password && !formData.value.password) {
    formData.value.is_password = true
    toast('请输入信件密码')
    return false
  }
  return true
}

async function onOpenMailbox() {
  if (!formData.value.id) return toast('请输入信件口令')
  if (formData.value.is_password && !formData.value.password) return toast('请输入信件密码')
  if (!await beforeInspectionOpenMailbox()) return false
  const res = await open_mailbox(formData.value.id, formData.value.password)
  router.replace({name: 'mailbox-detail', params: {id: res.data.data.id}})
}

onLoad(async (params: { id?: string }) => {
  const currentPageUrl = getCurrentPageUrl()
  if (!await isLogged(true, currentPageUrl)) return

  if (params.id) {
    formData.value.id = params.id
  }
})
</script>

<style lang="scss" scoped>
</style>
