<template>
  <!--分享到-->
  <uni-popup
    ref="popupRef"
    background-color="#fff"
    type="bottom"
    @mask-click="onCloseShare"
  >
    <view class="uu-p-50">
      <view class="uu-flex uu-items-center uu-justify-center uu-text-center uu-w-450 uu-m-auto uu-h-1 uu-bg-gray-200">
        <view class="uu-text-24 uu-text-gray-400 uu-inline uu-bg-white uu-pl-20 uu-pr-20">分享到</view>
      </view>
    </view>
    <view class="uu-flex uu-flex-row uu-pt-25">
      <button
        class="btn uu-flex-1 uu-flex uu-flex-col uu-justify-top uu-items-center"
        open-type="share"
      >
        <uni-icons color="#04BC60" custom-prefix="iconfont" size="55rpx" type="iconfont-weixin"></uni-icons>
        <text class="uu-text-26 uu-mt-15">微信好友</text>
      </button>
      <button
        class="btn uu-flex-1 uu-flex uu-flex-col uu-justify-top uu-items-center"
        @click="onShareToPqy()"
      >
        <uni-icons color="#ef5050" custom-prefix="iconfont" size="55rpx" type="iconfont-shoucang"></uni-icons>
        <text class="uu-text-26 uu-mt-15">微信朋友圈</text>
      </button>
      <button
        class="btn uu-flex-1 uu-flex uu-flex-col uu-justify-top uu-items-center"
        @click="onShareImage()"
      >
        <uni-icons color="#a688ff" size="55rpx" type="image-filled"></uni-icons>
        <text class="uu-text-26 uu-mt-15">分享图片</text>
      </button>
    </view>
    <view class="uu-m-25">
      <button
        class="uu-mt-40 uu-text-28 uu-bg-gray-100 uu-text-gray-700 uu-opacity-90 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-200"
        @click="onCloseShare()"
      >
        取消
      </button>
    </view>
  </uni-popup>
</template>


<script lang="ts" setup>
import {computed, ref, watch} from 'vue'
import {isDevMode} from '@/utils/env'
import {useUserInfoStore} from '@/state/modules/user-info'
import {randomNum} from '@sky-serein/js-utils'
import {modal, toast} from '@/utils/uniapi/prompt'
import {useRouter} from 'uni-mini-router'
import {MailboxListRes} from '@/api/mail-box/mail-box.types'

const props = defineProps<{
  modelValue: boolean;
  mailbox: Partial<MailboxListRes['items'][0]>
}>()
const emits = defineEmits(['update:modelValue'])

watch(() => props.modelValue, (value) => {
  if (value) {
    onOpenShare()
  } else {
    onCloseShare()
  }
})

const mailboxDetailParticle = computed(() => {
  return {
    id: props.mailbox.id,
    title: props.mailbox.title,
  }
})
const popupRef = ref()
const userInfo = useUserInfoStore().user
const router = useRouter()

function onOpenShare() {
  popupRef.value?.open()
}

function onCloseShare() {
  popupRef.value?.close()
  emits('update:modelValue')
}

function onShareToPqy() {
  modal({
    title: '提示',
    content: '请点击右上角菜单-"分享到朋友圈"',
    showCancel: false,
  })
  onCloseShare()
}

function onShareImage() {
  toast('开发中...')
  onCloseShare()
}

// 分享到好友
function onShareAppMessage() {
  onCloseShare()
  const shareImages = [
    'https://open.sereinapp.com/mailbox/app-material/share.png',
    'https://open.sereinapp.com/mailbox/app-material/shaare-2.png',
  ]
  const userName = userInfo?.name || 'TA'
  return {
    title: `收到一封${userName}发来的信件`,
    path: `/pages/open/open?id=${mailboxDetailParticle.value.id}`,
    imageUrl: shareImages[randomNum(0, 1)],
    type: isDevMode() ? 1 : 0,
  } as Page.CustomShareContent
}

// 分享到朋友圈
function onShareTimeline() {
  return {
    title: mailboxDetailParticle.value.title,
    query: `from=pyq&page=${encodeURIComponent(`/pages/open/open?id=${mailboxDetailParticle.value.id}`)}`,
  }
}

defineExpose({onShareAppMessage, onShareTimeline})
</script>
