<template>
  <Layout>
    <view class="uu-flex-1">
      <NavbarFloat />
      <StatusBar />

      <view v-if="!isFromPyq" class="uu-p-80 uu-pl-0 uu-pr-0 uu-text-center">
        <image class="uu-w-300" mode="widthFix" src="https://open.sereinapp.com/mailbox/app-material/mailbox.png" />
        <view class="uu-mt-20 uu-text-center uu-text-25 uu-text-gray-500">提交成功</view>
        <view class="uu-w-400 uu-m-auto uu-mt-220">
          <button
            class="uu-text-31 uu-text-green-700 uu-bg-white uu-rd-50 uu-border-1 uu-border-solid uu-border-green-700"
            @click="showShare = true"
          >
            分享
          </button>
        </view>
      </view>

      <view v-else class="uu-p-80 uu-pl-0 uu-pr-0 uu-text-center">
        <image class="uu-w-400" mode="widthFix" src="https://open.sereinapp.com/mailbox/app-material/shaare-2.png" />
        <view class="uu-mt-120 uu-text-center uu-text-25 uu-text-gray-500">您有一封新的信件待查收，请前往小程序查看。</view>
      </view>
    </view>

    <!--分享到-->
    <ShareBottom ref="shareBottomRef" v-model="showShare" :mailbox="mailboxDetailParticle" />
  </Layout>
</template>

<script lang="ts" setup>
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import Layout from '@/components/layout/layout.vue'
import StatusBar from '@/components/status-bar/status-bar.vue'
import {ref} from 'vue'
import {onLoad, onShareAppMessage, onShareTimeline} from '@dcloudio/uni-app'
import {useRouter} from 'uni-mini-router'
import ShareBottom from '@/components/share/share-bottom.vue'

const mailboxDetailParticle = ref({
  id: '',
  title: '',
})
const router = useRouter()
const isFromPyq = ref(false)
const showShare = ref(false)
const shareBottomRef = ref<InstanceType<typeof ShareBottom> | null>(null)

onShareAppMessage(() => shareBottomRef.value?.onShareAppMessage())
onShareTimeline(() => shareBottomRef.value?.onShareTimeline())

onLoad((params: { id: string; title: string; from?: 'pyq'; page?: string; }) => {
  if (params.id) {
    mailboxDetailParticle.value.id = params.id
  }
  if (params.title) {
    mailboxDetailParticle.value.title = params.title
  }
  if (params.from === 'pyq') {
    isFromPyq.value = true
  }
  if (params.page) {
    router.replace({path: decodeURIComponent(params.page)})
  }
})
</script>

<style lang="scss" scoped></style>
