<template>
  <Layout>
    <NavbarFloat color="#b3b3b3" />

    <z-paging
      ref="pagingRef"
      v-model="queryList"
      :auto-show-back-to-top="true"
      :back-to-top-style="{right: '60rpx', bottom: '200rpx'}"
      :back-to-top-with-animate="false"
      :default-page-no="1"
      :default-page-size="20"
      :inside-more="true"
      :safe-area-inset-bottom="true"
      :show-loading-more-when-reload="true"
      :show-scrollbar="false"
      :use-safe-area-placeholder="true"
      cell-height-mode="fixed"
      @query="getQueryList"
    >
      <template #top>
        <StatusBar />
        <uni-notice-bar :text="tipsText" />
      </template>

      <uni-swipe-action>
        <uni-swipe-action-item v-for="(item,i) in queryList" :key="item.id">
          <view
            class="uu-flex uu-flex-row uu-p-15 uu-pt-20  uu-pb-20 uu-bg-white"
            @click.stop="onGoPage({ name: 'mailbox-detail', params: {id:item.id}})"
          >
            <view class="uu-flex-1 uu-flex uu-flex-row uu-items-center uu-justify-start">
              <view>
                <view class="uu-text-31">{{ item.title }}</view>
                <view class="uu-flex uu-items-center uu-justify-start">
                  <view
                    v-if="item.open_count"
                    class="uu-mt-5 uu-bg-white uu-text-red-400 uu-pl-10 uu-pr-10 uu-text-20 uu-border-1 uu-border-solid uu-border-red-400 uu-rd-5 uu-mr-15"
                  >
                    已打开 {{ item.is_group ? ('+' + item.open_count) : '' }}
                  </view>
                  <view
                    v-else
                    class="uu-mt-5 uu-bg-white uu-text-yellow-400 uu-pl-10 uu-pr-10 uu-text-20 uu-border-1 uu-border-solid uu-border-yellow-400 uu-rd-5 uu-mr-15"
                  >
                    未打开
                  </view>
                  <view
                    v-if="item.is_group"
                    class="uu-mt-5 uu-bg-white uu-text-blue uu-pl-10 uu-pr-10 uu-text-20 uu-border-1 uu-border-solid uu-border-blue uu-rd-5 uu-mr-15"
                  >
                    群发
                  </view>
                  <view
                    v-if="item.is_password"
                    class="uu-bg-white uu-text-green-400 uu-pl-10 uu-pr-10 uu-text-20 uu-border-1 uu-border-solid uu-border-green-400 uu-rd-5 uu-mr-15"
                  >
                    加密
                  </view>
                </view>
              </view>
              <text class="uu-ml-auto uu-text-26 uu-text-gray-500">{{ item.publish_at }}</text>
              <uni-icons class="uu-ml-5" color="#afafaf" size="40rpx" type="forward"></uni-icons>
            </view>
          </view>

          <template #right>
            <view class="uu-flex uu-flex-row">
              <view
                v-if="!item.open_count"
                :style="{backgroundColor: '#3e78c5', color: '#fff', fontSize: '26rpx'}"
                class="uu-w-120 uu-flex uu-justify-center uu-items-center"
                @click.stop="onClickItem(0,item)"
              >
                编辑
              </view>
              <view
                :style="{backgroundColor: '#3e42c5', color: '#fff', fontSize: '26rpx'}"
                class="uu-w-120 uu-flex uu-justify-center uu-items-center"
                @click.stop="onClickItem(3,item)"
              >
                分享
              </view>
              <view
                v-if="!item.open_count"
                :style="{backgroundColor: '#f65050', color: '#fff', fontSize: '26rpx'}"
                class="uu-w-120 uu-flex uu-justify-center uu-items-center"
                @click.stop="onClickItem(1,item)"
              >
                删除
              </view>
            </view>
          </template>
        </uni-swipe-action-item>
      </uni-swipe-action>
    </z-paging>

    <ShareBottom ref="showShareBottomRef" v-model="showShareBottom.visible" :mailbox="{id: showShareBottom.id, title: showShareBottom.title}" />
  </Layout>
</template>

<script lang="ts" setup>
import {ref} from 'vue'
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import {useRouter} from 'uni-mini-router'
import {delete_mailbox, put_mailbox_list} from '@/api/mail-box/mail-box'
import {MailboxListRes} from '@/api/mail-box/mail-box.types'
import StatusBar from '@/components/status-bar/status-bar.vue'
import {onGoPage} from '@/utils/business'
import Layout from '@/components/layout/layout.vue'
import {hideLoading, loading, modal, toast} from '@/utils/uniapi/prompt'
import ShareBottom from '@/components/share/share-bottom.vue'
import {onShareAppMessage, onShareTimeline, onShow} from '@dcloudio/uni-app'

const tipsText = '在这璀璨星空下，我与过去的自己交流，为你写下这封静谧的信。愿你在未来的旅途中，天空晴朗，信风轻拂；爱心温柔，笑容常在。'
const router = useRouter()
const pagingRef = ref()
const showShareBottomRef = ref<InstanceType<typeof ShareBottom> | null>(null)
const showShareBottom = ref({
  visible: false,
  id: '',
  title: '',
})

function onClickItem(index, item: MailboxListRes['items'][0]) {
  const {id} = item
  if (index === 0) {
    router.push({name: 'put', params: {id}})
  }
  if (index === 1) {
    modal({
      title: '确认删除吗？',
      success: async (result) => {
        if (result.confirm) {
          loading('删除中..')
          await delete_mailbox(id)
          pagingRef.value?.refresh()
          hideLoading()
          toast('已成功删除')
        }
      },
    })
  }
  if (index === 3) {
    showShareBottom.value.id = item.id
    showShareBottom.value.title = item.title
    showShareBottom.value.visible = true
  }
}

const queryList = ref<MailboxListRes['items']>([])
const getQueryList = async (pageNo: number, pageSize: number) => {
  const res = await put_mailbox_list({
    page_index: pageNo,
    page_size: pageSize,
  })
  pagingRef.value?.complete(res.data.data.items)
}

onShow(() => {
  pagingRef.value?.refresh()
})

onShareAppMessage(() => showShareBottomRef.value?.onShareAppMessage())
onShareTimeline(() => showShareBottomRef.value?.onShareTimeline())
</script>

<style lang="scss" scoped>
.placeholder-top {
  // #ifdef MP-WEIXIN
  padding: calc(var(--status-bar-height) + 125rpx) 0 0;
  // #endif

  // #ifndef MP-WEIXIN
  padding: calc(var(--status-bar-height)) 0 0;
  // #endif
}

.cell-title {
  width: 400rpx;
  font-size: 30rpx;
}

.cell-status {
  font-size: 20rpx;
  color: #f00;
  padding: 10rpx 0 0;
}
</style>
