<template>
  <Layout>
    <view class="uu-bg-truegray-100 uu-flex-1">
      <NavbarFloat />
      <StatusBar />
      <uni-notice-bar :text="tipsText" />

      <view class="uu-p-20 uu-pb-40 uu-m-30 uu-bg-white uu-rd-15 uu-shadow-md">
        <view class="">
          <input
            v-model="formData.title"
            class="uu-h-70 uu-leading-70 uu-p-20 uu-text-30 uu-text-grey-800"
            placeholder="请输入信件标题"
          />
        </view>

        <view class="uu-h-1 uu-bg-truegray-200 uu-mt-10 uu-mb-10"></view>

        <view class="uu-mt-15 uu-pt-15 uu-pb-15">
          <textarea
            v-model="formData.desc"
            :maxlength="200"
            auto-height
            class="uu-w-full uu-pl-20 uu-pr-20 uu-text-30 uu-text-gray-800 uu-min-h-150"
            disable-default-padding
            placeholder="请输入信件描述（在打开信件之前的提示文字,200字内）"
          />
        </view>

        <view class="uu-h-1 uu-bg-truegray-200 uu-mt-10 uu-mb-10"></view>

        <view class="uu-mt-15 uu-pt-15">
          <textarea
            v-model="formData.content"
            :maxlength="-1"
            auto-height
            class="uu-w-full uu-pl-20 uu-pr-20 uu-text-30 uu-text-gray-800 uu-min-h-220"
            disable-default-padding
            placeholder="请输入信件内容"
          />
          <view class="uu-mt-30 uu-pl-20">
            <uni-file-picker
              v-model="formData.fileList"
              :auto-upload="false"
              :image-styles="{width:70, height:70, border:0}"
              :sizeType="['compressed']"
              limit="4"
              @delete="onDeleteFile"
              @select="onSelectFiles"
            >
              <uni-icons
                color="#ccc"
                size="45rpx"
                type="plusempty"
              />
            </uni-file-picker>
          </view>
        </view>

        <view class="uu-h-1 uu-bg-truegray-200 uu-mt-10 uu-mb-10"></view>

        <view class="uu-p-20">
          <view class="uu-flex uu-flex-row uu-items-center uu-justify-start">
            <view class="uu-text-30 uu-text-gray-800">是否群发</view>
            <switch :checked="formData.isGroup" class="uu-ml-auto uu-scale-90" @change="formData.isGroup = !formData.isGroup" />
          </view>
          <view class="uu-text-size-24 uu-text-gray-500">默认信件只能由一人打开，群发可以被多人打开</view>
        </view>

        <view class="uu-h-1 uu-bg-truegray-200 uu-mt-10 uu-mb-10"></view>

        <view class="uu-p-20">
          <view class="uu-flex uu-flex-row uu-items-center uu-justify-start">
            <view class="uu-text-30 uu-text-gray-800">是否加密</view>
            <switch :checked="formData.isPassword" class="uu-ml-auto uu-scale-90" @change="formData.isPassword = !formData.isPassword" />
          </view>
          <view class="uu-text-size-24 uu-text-gray-500">打开信件是否需要密码</view>
        </view>

        <template v-if="formData.isPassword">
          <view class="uu-h-1 uu-bg-truegray-200 uu-mt-10 uu-mb-10"></view>
          <view class="uu-mt-15">
            <input
              v-model="formData.password"
              class="uu-h-70 uu-leading-70 uu-p-20 uu-text-30 uu-text-grey-800"
              placeholder="请输入信件密码"
            />
          </view>
        </template>

        <view class="uu-h-1 uu-bg-truegray-200 uu-mt-10 uu-mb-10"></view>

        <view class="uu-p-20">
          <uni-datetime-picker :value="formData.date" type="datetime" @change="onSelectDate">
            <view class="uu-flex uu-flex-row uu-items-center uu-justify-start">
              <view class="uu-text-30 uu-text-gray-800">打开时间</view>
              <view class="uu-ml-auto uu-scale-90 uu-text-28 uu-text-gray-600">
                {{ formData.date || '请选择' }}
              </view>
              <uni-icons
                color="#999"
                size="35rpx"
                type="forward"
              />
            </view>
          </uni-datetime-picker>
        </view>

        <view class="uu-mt-40 uu-p-20 uu-flex uu-justify-center uu-items-center">
          <view
            class="uu-flex-1 uu-h-70 uu-flex uu-justify-center uu-items-center uu-text-31 uu-bg-blue-700 uu-text-white uu-rd-50 "
            @click="onSubmitForm()"
          >
            提交
          </view>
          <view
            class="uu-flex-1 uu-h-70 uu-flex uu-justify-center uu-items-center uu-text-31 uu-text-pink-500 uu-bg-white uu-rd-50 uu-ml-20 uu-border-1 uu-border-solid uu-border-pink-500"
            @click="onPreviewMailbox()"
          >
            预览
          </view>
        </view>
      </view>
    </view>

    <view
      v-if="previewFormData"
      class="uu-fixed uu-top-0 uu-left-0 uu-w-full uu-h-full uu-flex uu-flex-col uu-z-20"
    >
      <MailboxDetail :detail="previewFormData" @clear="previewFormData = undefined" />
    </view>
  </Layout>
</template>

<script lang="ts" setup>
import {ref} from 'vue'
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import {useRouter} from 'uni-mini-router'
import {hideLoading, loading, toast} from '@/utils/uniapi/prompt'
import {MailBoxDetailRes, PutMailboxDto} from '@/api/mail-box/mail-box.types'
import {mailbox_detail, put_mailbox} from '@/api/mail-box/mail-box'
import {upload_file} from '@/api/common/common'
import {FilePathTypeEnum, FileRes} from '@/api/common/common.types'
import Layout from '@/components/layout/layout.vue'
import StatusBar from '@/components/status-bar/status-bar.vue'
import dayjs from 'dayjs'
import {onLoad} from '@dcloudio/uni-app'
import MailboxDetail from '@/pages/mailbox/detail.vue'

const tipsText = 'Tips：信件的内容可以是对自己，朋友，家人，爱人，或者任何人想说的话，并且设置一个未来能够打开信件的时间，也就是未来收信时间，这样他们就能在未来的某天收到你的信。'

const router = useRouter()
const formData = ref({
  id: '',
  title: '',
  content: '',
  desc: '',
  date: '',
  fileList: [] as FileRes[],
  isGroup: false,
  isPassword: false,
  password: '',
})
const previewFormData = ref<Partial<MailBoxDetailRes>>()

function onSelectFiles(params: any) {
  const {tempFilePaths} = params
  formData.value.fileList = [...formData.value.fileList, ...tempFilePaths.map(v => ({url: v}))]
}
function onDeleteFile(params: any) {
  const {tempFilePath} = params
  formData.value.fileList = formData.value.fileList.filter(u => u.url !== tempFilePath)
}
function onSelectDate(detail: string) {
  formData.value.date = dayjs(detail).format('YYYY-MM-DD HH:mm:ss')
}

function validateSubmit() {
  if (!formData.value.title) return toast('请输入信件标题')
  if (formData.value.desc.length > 200) return toast('打开信件前的展示内容不得超过200字')
  if (!formData.value.date) return toast('请选择打开时间')
  if (formData.value.isPassword && !formData.value.password) return toast('请输入信件密码')
  if (!formData.value.content && !formData.value.fileList.length) return toast('请输入信件内容或上传信件图片')
  return true
}

function onPreviewMailbox() {
  if (validateSubmit() !== true) return
  previewFormData.value = {
    id: formData.value.id,
    title: formData.value.title,
    content: formData.value.content,
    desc: formData.value.desc,
    picture: formData.value.fileList.map(item => ({id: item.id, url: item.url})),
    publish_at: formData.value.date,
    is_group: formData.value.isGroup,
  }
}

async function onSubmitForm() {
  if (validateSubmit() !== true) return
  loading('提交中...')
  const pictureArr = formData.value.fileList.filter(item => item.id)
  const pictureUploadArr = formData.value.fileList.filter(item => !item.id)
  if (pictureUploadArr.length) {
    for (const item of pictureUploadArr) {
      const url = item.url
      const res = await upload_file(url, FilePathTypeEnum.MailboxImg)
      if (res.data.data.url) pictureArr.push(res.data.data)
    }
  }
  const data: PutMailboxDto = {
    id: formData.value.id,
    title: formData.value.title,
    content: formData.value.content,
    desc: formData.value.desc,
    picture: pictureArr.map(item => item.id),
    publish_at: formData.value.date,
    is_group: formData.value.isGroup,
  }
  if (formData.value.isPassword) {
    data.password = formData.value.password
  }
  const res = await put_mailbox(data)
  hideLoading()
  router.replace({name: 'put-result', params: {id: res.data.data.id, title: formData.value.title}})
}

onLoad(async (params: any) => {
  if (params.id) {
    formData.value.id = params.id
    const res = await mailbox_detail(params.id)
    const data = res.data.data
    formData.value.title = data.title
    formData.value.content = data.content
    formData.value.desc = data.desc
    formData.value.date = data.publish_at
    formData.value.fileList = data.picture
    formData.value.isGroup = data.is_group
    formData.value.isPassword = !!data.password
    formData.value.password = data.password
  }
})
</script>

<style lang="scss" scoped></style>
