<template>
  <view
    v-if="tabbarList?.length"
    :class="{'tqb-tabbar-body': props.float, 'tqb-tabbar-body_bottom': !props.float}"
    class="uu-flex uu-flex-col"
  >
    <view class="uu-flex">
      <view
        v-for="(item, index) in tabbarList"
        :key="index"
        class="tqb-tabbar-item"
        @click="switchClick(index,item)"
      >
        <view class="tabbar-item-body">
          <view class="tabbar-item-icon">
            <image
              :class="{img:true, icon:item.icon || false}"
              :src="modelValue === index ? item.selectedIconPath || item.iconPath : item.iconPath || item.selectedIconPath"
            />
          </view>
          <view
            v-if="item.text"
            :class="[modelValue === index ? 'active' : '', 'tab-bar-text']"
            :style="`font-size:24rpx; color: ${modelValue === index ? item.color : '#8A8A8A'};`"
          >
            {{ item.text }}
          </view>
        </view>
      </view>
    </view>
    <view :style="`height: ${safeAreaInsets?.bottom}rpx`"></view>
  </view>
</template>

<script lang="ts" setup>
const props = defineProps({
  modelValue: {
    type: Number,
    value: 0,
  },
  float: {
    type: Boolean,
    value: false,
  },
  tabbarList: {
    type: Array,
    default: () => ([]),
  },
})

const emit = defineEmits(['update:modelValue', 'click'])
const {safeAreaInsets} = uni.getSystemInfoSync()

function switchClick(index, item) {
  if (props.modelValue === index) return
  emit('update:modelValue', index)
  emit('click', index, item)
}
</script>

<style lang="scss" scoped>
.tqb-tabbar-body {
  border-radius: 80rpx;
  display: flex;
  background: linear-gradient(to right, #ffffff, #F1EDFF);
  position: fixed;
  bottom: 68rpx;
  width: 704rpx;
  left: 50%;
  transform: translateX(-50%);
  padding: 20rpx 0;
  box-shadow: 0px 0px 22rpx 9rpx rgba(0, 0, 0, 0.1);
}

.tqb-tabbar-body_bottom {
  display: flex;
  padding: 14rpx 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #f8f8f8;
}

.tqb-tabbar-item {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;

  .tabbar-item-body {
  }

  .tabbar-item-icon {
    display: flex;
    justify-content: center;
  }

  .img {
    width: 46rpx;
    height: 46rpx;
  }

  .icon {
    width: 78rpx;
    height: 78rpx;
  }

  .tab-bar-text {
    color: #999999;
    font-size: 22rpx;
    margin-top: 8rpx;
  }

  .active {
    color: #645AEE;
  }
}
</style>
