<template>
  <Layout>
    <Index v-show="tabActiveIndex === 0" class="uu-flex-1 uu-flex uu-flex-col" />

    <Mine v-if="tabActiveIndex === 1" class="uu-flex-1 uu-flex uu-flex-col" />

    <Tabbar v-model="tabActiveIndex" :tabbar-list="tabbarList" />
  </Layout>
</template>

<script lang="ts" setup>
import {ref} from 'vue'
import Layout from '@/components/layout/layout.vue'
import Tabbar from '@/components/tabbar/tabbar.vue'
import {onLoad, onShareAppMessage, onShareTimeline} from '@dcloudio/uni-app'
import Index from '@/pages/index/index.vue'
import Mine from '@/pages/mine/mine.vue'
import {useUserInfoStore} from '@/state/modules/user-info'
import {randomNum} from '@sky-serein/js-utils'
import {getEnvValue, isDevMode} from '@/utils/env'

const tabActiveIndex = ref(0)
const tabbarList = [
  {
    text: '首页',
    iconPath: '/static/tabbar/home_off.png',
    selectedIconPath: '/static/tabbar/home.png',
    pagePath: '/pages/index/index',
    color: '#009F72',
  },
  {
    text: '我的',
    iconPath: '/static/tabbar/mine_off.png',
    selectedIconPath: '/static/tabbar/mine.png',
    pagePath: '/pages/index/index',
    color: '#D81E06',
  },
]

onLoad((params: { tab?: 'mine' }) => {
  if (params.tab === 'mine') {
    tabActiveIndex.value = 1
  }
})

onShareAppMessage(() => {
  const shareImages = [
    'https://open.sereinapp.com/mailbox/app-material/share.png',
    'https://open.sereinapp.com/mailbox/app-material/shaare-2.png',
  ]
  return {
    title: getEnvValue('VITE_PROJECT_TITLE') + '-拥有浪漫寓意的信箱递送服务',
    path: `/pages/home/home`,
    imageUrl: shareImages[randomNum(0, 1)],
    type: isDevMode() ? 1 : 0,
  } as Page.CustomShareContent
})

onShareTimeline(() => {
  const shareImages = [
    'https://open.sereinapp.com/mailbox/app-material/share.png',
    'https://open.sereinapp.com/mailbox/app-material/shaare-2.png',
  ]
  return {
    title: getEnvValue('VITE_PROJECT_TITLE') + '-拥有浪漫寓意的信箱递送服务',
    path: `/pages/home/home`,
    imageUrl: shareImages[randomNum(0, 1)],
    type: isDevMode() ? 1 : 0,
  } as Page.CustomShareContent
})

// 初始化数据
useUserInfoStore().initUserInfo()
</script>

<style lang="scss" scoped>
.draw-container {
  padding: 20vh 0 0;

  .draw-wrapper {
    width: 100%;
    position: relative;

    .capsule {
      margin: 0 auto;
    }

    .clock {
      position: absolute;
    }
  }
}
</style>
