<template>
  <view class="page-container uu-flex-1 uu-flex uu-flex-col">
    <view class="page-wrapper uu-flex-1 uu-flex uu-flex-col">
      <template v-if="mode === 'scroll-y'">
        <scroll-view
          class="scroll-view uu-flex-1 uu-flex uu-flex-col"
          enable-back-to-top
          enable-flex
          scroll-y
        >
          <slot></slot>
        </scroll-view>
      </template>
      <template v-else-if="mode === 'none'">
        <slot></slot>
      </template>
    </view>
  </view>
</template>

<script lang="ts" setup>
import {ref} from 'vue'

const props = defineProps({
  'mode': String,
})

const mode = ref(props['mode'] || 'scroll-y')
</script>

<style lang="scss" scoped>
.page-container {
  height: 100vh;
  overflow: hidden;

  .page-wrapper {
    width: 100%;
    flex: 1;
    overflow: hidden;
    background: #fff;
  }

  .tabbar {
    width: 100%;
  }

  .scroll-view {
    height: 100%;
  }
}
</style>
