<template>
  <view class="page uu-flex-1">
    <view class="draw-wrapper">
      <canvas id="capsule" :style="capsuleStyle" canvas-id="capsule" class="capsule"></canvas>
      <canvas id="clock" :style="clockStyle" canvas-id="clock" class="clock"></canvas>
    </view>
    <view class="row-tips">
      <view class="row-item put" @click="onGoPage({ name: 'put' })">
        <view>PUT</view>
        <view class="placeholder">添加</view>
      </view>
      <view class="row-item open" @click="onGoPage({ name: 'open' })">
        <view>OPEN</view>
        <view class="placeholder">提取</view>
      </view>
    </view>
  </view>
</template>

<script lang="ts" setup>
import {useRouter} from 'uni-mini-router'
import {capsuleStyle, clear, clockStyle, draw} from '@/pages/index/draw'
import {getCurrentInstance, ref} from 'vue'
import {onHide, onShow} from '@dcloudio/uni-app'
import {onGoPage} from '@/utils/business'

const router = useRouter()
const thisInstance = getCurrentInstance()
const isLoadPage = ref(false)

onHide(() => {
  clear()
})

onShow(() => {
  if (isLoadPage.value) {
    draw(thisInstance)
  } else {
    setTimeout(() => {
      isLoadPage.value = true
      draw(thisInstance)
    }, 60)
  }
})
</script>

<style lang="scss" scoped>
.page {
  background: #fff;
  padding: 18vh 0 0;
}

.draw-wrapper {
  width: 100%;
  position: relative;

  .capsule {
    margin: 0 auto;
  }

  .clock {
    position: absolute;
  }
}

.row-tips {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 120rpx auto 0;
  width: 400rpx;

  .row-item {
    padding: 20rpx;
    flex: 0 0 auto;
  }

  .put,
  .open {
    text-align: center;
    font-size: 36rpx;
  }

  .placeholder {
    color: #afafaf;
    font-size: 28rpx;
  }
}
</style>
