<template>
  <view :style="{margin: props.offset, top: statusBarHeight}" class="navbar-float">
    <uni-icons
      :color="props.color"
      :type="props.icon"
      custom-prefix="iconfont"
      size="70rpx"
      @click="onBack()"
    />
  </view>
</template>

<script lang="ts" setup>
import {useRouter} from 'uni-mini-router'

const props = withDefaults(
  defineProps<{
    color?: string;
    icon?: string;
    offset?: string[];
    click?: Function;
  }>(),
  {
    color: '#ccc',
    icon: 'iconfont-fanhui5',
    offset: () => [],
  },
)

const router = useRouter()

function onBack() {
  if (props.click) {
    props.click()
  } else {
    uni.navigateBack({
      fail: () => {
        router.replace({name: 'home'})
      },
    })
  }
}

const statusBarHeight = (() => {
  // #ifdef MP
  const rect = uni.getMenuButtonBoundingClientRect()
  return `calc(${rect.top + parseInt((rect.height / 2).toString())}px - 35rpx)`
  // #endif

  // #ifndef MP
  const info = uni.getSystemInfoSync()
  return `calc(${info.safeAreaInsets?.top ?? 0}px + 20px)`
  // #endif
})()
</script>

<style lang="scss" scoped>
.navbar-float {
  position: fixed;
  left: 30rpx;
  z-index: 1;
}
</style>
