<template>
  <Layout>
    <view class="uu-flex-1">
      <NavbarFloat />
      <StatusBar />

      <view class="uu-p-40 uu-pb-100">
        <view class="uu-text-35 uu-pl-30 uu-pr-30 uu-text-center">{{ title }}</view>
        <view class="uu-text-28 uu-pt-50 uu-text-gray-500 uu-text-center uu-flex uu-flex-row uu-item-center uu-justify-center">
          <view>2023-06-05</view>
        </view>
        <view class="uu-text-justify uu-break-all uu-whitespace-pre-wrap uu-text-30 uu-pt-50 uu-pb-30 uu-text-gray-800">
          <view class="uu-pb-30">
            "拾光慢递信箱"是一种拥有浪漫寓意的信箱递送服务，代表着信件透过时间长河，将心意缓缓寄出的通信体验，让我们在快节奏的现代生活中，找到一种宁静的情感交流方式。
          </view>

          <view class="uu-pb-30">
            "拾光慢递信箱"是一个独特的在线服务，提供了一种创新的通信方式。用户可以通过这个信箱，在指定的时间接收信件，享受慢节奏的沟通体验，感受时间的沉淀与变化。提供了一种与快速、便利的现代通信方式截然不同的选择。用户可以选择在几周、几个月甚至几年后的某个特定日期，让对方在期待中打开信件。无论是寄给朋友、亲人，还是表达思念之情，"拾光慢递信箱"都是一种美好的存在。
          </view>

          <view class="uu-pb-30">
            总的来说，"拾光慢递信箱"是一个信箱，更是一份心境。它为我们打开了一扇理解时间与空间关系的窗口，让我们在有限的生命中，收获无尽的情感沟通和精神徜徉。在这个世界里，文字穿越时间，成为我们彼此间宝贵回忆的见证。通过"拾光慢递信箱"，我们相信时光荏苒，记忆依旧，书信承载着过去的美好，未来的期许，令人沉浸在这无尽的温情中。
          </view>
        </view>
      </view>
    </view>
  </Layout>
</template>

<script lang="ts" setup>
import NavbarFloat from '@/components/navbar/navbar-float.vue'
import Layout from '@/components/layout/layout.vue'
import StatusBar from '@/components/status-bar/status-bar.vue'
import {getEnvValue} from '@/utils/env'

const title = getEnvValue('VITE_PROJECT_TITLE')
</script>

<style lang="scss" scoped></style>
