<template>
  <view class="uu-bg-truegray-100 uu-flex-1">
    <view class="uu-bg-green-500">
      <view :style="`height: ${safeAreaInsets?.top}px`"></view>
      <view class="uu-flex uu-flex-col uu-justify-center uu-items-center uu-pt-120 uu-pb-50">
        <image
          :size="170"
          :src="userInfo?.avatar || avatarDefaultUrl"
          class="uu-w-170 uu-h-170 uu-rd-250"
          @click="onSetting()"
        />
        <text
          class="uu-text-size-m uu-mt-25 uu-text-white"
          @click="onSetting()"
        >
          {{ userInfo ? (userInfo?.name ?? '昵称未设置') : '未登录' }}
        </text>
      </view>
    </view>
    <view class="uu-mt-20">
      <view class="uu-flex uu-flex-row uu-p-15 uu-pt-20  uu-pb-20 uu-bg-white" @click="onGoPage({ name: 'open-list' })">
        <view class="uu-flex-1 uu-flex uu-flex-row uu-items-center uu-justify-start">
          <uni-icons color="#80D640" size="45rpx" type="mail-open"></uni-icons>
          <text class="uu-text-31 uu-ml-20">我打开的信件</text>
          <uni-icons class="uu-ml-auto" color="#afafaf" size="40rpx" type="forward"></uni-icons>
        </view>
      </view>
      <view class="uu-flex uu-flex-row uu-p-15 uu-pt-20  uu-pb-20 uu-bg-white uu-mt-1" @click="onGoPage({ name: 'put-list' })">
        <view class="uu-flex-1 uu-flex uu-flex-row uu-items-center uu-justify-start">
          <uni-icons color="#ef5050" size="45rpx" type="paperplane"></uni-icons>
          <text class="uu-text-31 uu-ml-20">我发出的信件</text>
          <uni-icons class="uu-ml-auto" color="#afafaf" size="40rpx" type="forward"></uni-icons>
        </view>
      </view>
      <view class="uu-flex uu-flex-row uu-p-15 uu-pt-20  uu-pb-20 uu-bg-white uu-mt-1" @click="onGoPage({ name: 'view-list' })">
        <view class="uu-flex-1 uu-flex uu-flex-row uu-items-center uu-justify-start">
          <uni-icons color="#a350ef" size="45rpx" type="list"></uni-icons>
          <text class="uu-text-31 uu-ml-20">我浏览的信件</text>
          <uni-icons class="uu-ml-auto" color="#afafaf" size="40rpx" type="forward"></uni-icons>
        </view>
      </view>
    </view>
    <view class="uu-mt-20">
      <view class="uu-flex uu-flex-row uu-p-15 uu-pt-20  uu-pb-20 uu-bg-white" @click="onGoPage({ name: 'about' },false)">
        <view class="uu-flex-1 uu-flex uu-flex-row uu-items-center uu-justify-start">
          <uni-icons color="#45d4c0" size="45rpx" type="help"></uni-icons>
          <text class="uu-text-31 uu-ml-20">关于</text>
          <uni-icons class="uu-ml-auto" color="#afafaf" size="40rpx" type="forward"></uni-icons>
        </view>
      </view>
    </view>

    <Settings v-if="isSettingUserInfo" @close="isSettingUserInfo = false" />
  </view>
</template>

<script lang="ts" setup>
import {computed, ref} from 'vue'
import {useRouter} from 'uni-mini-router'
import {onGoPage} from '@/utils/business'
import {useUserInfoStore} from '@/state/modules/user-info'
import Settings from '@/pages/mine/components/settings.vue'
import avatarDefaultUrl from '@/static/common/avatar.png'

const {safeAreaInsets} = uni.getSystemInfoSync()
const router = useRouter()
const userInfo = computed(() => useUserInfoStore().user)
const isSettingUserInfo = ref(false)
const isSettingUserInfoOld = ref(false)

function onSetting() {
  if (!userInfo.value) return router.push({name: 'login'})
  isSettingUserInfo.value = true
}

if (userInfo.value && !isSettingUserInfoOld.value && (!userInfo.value?.name || !userInfo.value?.avatar)) {
  isSettingUserInfo.value = true
}
</script>

<style lang="scss" scoped></style>
