<template>
  <!--系统顶部状态栏占位-->
  <view :style="{ height: statusBarHeight }" class="status-bar">
    <slot />
  </view>
</template>

<script lang="ts" setup>
const statusBarHeight = (() => {
  // #ifdef MP
  const rect = uni.getMenuButtonBoundingClientRect()
  return `calc(${rect.bottom}px + 15rpx)`
  // #endif

  // #ifndef MP
  return 0
  // #endif
})()
</script>

<style lang="scss" scoped></style>
