<template>
  <uni-popup
    ref="popupRef"
    background-color="#fff"
    type="bottom"
    @mask-click="onClose()"
  >
    <view class="uu-pt-70 uu-pl-60 uu-pr-60 uu-pb-30 uu-h-700">
      <view class="btn-close">
        <uni-icons color="#ccc" size="40rpx" type="closeempty" @click="onClose()"></uni-icons>
      </view>
      <view class="uu-text-30">获取您的昵称、头像</view>
      <view class="uu-text-24 uu-text-neutral-400 uu-pt-10">获取用户头像、昵称，主要用于向用户提供具有辨识度的用户中心界面</view>
      <view class="avatar-wrapper">
        <button
          class="btn uu-relative uu-w-150 uu-h-150"
          open-type="chooseAvatar"
          @chooseavatar="onChooseAvatar"
        >
          <image :src="fileUrl || avatarDefaultUrl" class="uu-w-150 uu-h-150 uu-rd-200" />
          <view class="uu-absolute uu-bottom--10 uu-right--5">
            <uni-icons color="#3475ec" size="70rpx" type="camera-filled"></uni-icons>
          </view>
        </button>
      </view>
      <view class="uu-mt-55">
        <input
          v-model.trim="name"
          :font-size="27"
          class="uu-h-70 uu-leading-70 uu-p-20 uu-text-28 uu-rd-50 uu-border-1 uu-border-solid uu-border-gray-300"
          placeholder="请输入昵称"
          type="nickname"
        />
      </view>
      <button
        class="uu-mt-40 uu-text-31 uu-bg-blue-700 uu-text-white uu-rd-50 "
        @click="onSubmit()"
      >
        保存
      </button>
    </view>
  </uni-popup>
</template>

<script lang="ts" setup>
import avatarDefaultUrl from '@/static/common/avatar.png'
import {computed, onMounted, ref} from 'vue'
import {upload_file} from '@/api/common/common'
import {useUserInfoStore} from '@/state/modules/user-info'
import {modify_user_info} from '@/api/user-info/user-info'
import {FilePathTypeEnum} from '@/api/common/common.types'
import {loading} from '@/utils/uniapi/prompt'
import {trim} from '@sky-serein/js-utils'

const userInfo = computed(() => useUserInfoStore().user)
const emits = defineEmits(['close'])
const name = ref(userInfo.value?.name)
const fileUrl = ref(userInfo.value?.avatar)

function onClose() {
  emits('close')
}

async function onChooseAvatar(res: any) {
  // #ifdef MP-WEIXIN
  const avatarTempUrl = res.detail.avatarUrl
  if (!avatarTempUrl) return
  const resUpload = await upload_file(avatarTempUrl, FilePathTypeEnum.MailboxAvatar)
  console.log(resUpload)
  fileUrl.value = resUpload.data.data.url
  // #endif

  // #ifndef MP-WEIXIN
  uni.chooseImage({
    count: 1,
    sizeType: ['compressed'],
    sourceType: ['album'],
    success: async (res) => {
      const tempFilePaths = res.tempFilePaths[0]
      const resUpload = await upload_file(tempFilePaths!, FilePathTypeEnum.MailboxAvatar)
      fileUrl.value = resUpload.data.data.url
    },
  })
  // #endif
}

async function onSubmit() {
  loading('保存中...')
  try {
    await modify_user_info({name: trim(name.value.toString(), 2), avatar: fileUrl.value})
    await useUserInfoStore().updateUserInfo()
  } catch (e) {
    uni.hideLoading()
    return
  }
  uni.hideLoading()
  emits('close')
}

const popupRef = ref()
onMounted(() => {
  popupRef.value?.open()
})
</script>

<style lang="scss" scoped>
.btn-close {
  position: absolute;
  right: 40rpx;
  top: 30rpx;
}

.avatar-wrapper {
  height: 150rpx;
  width: 150rpx;
  margin: 50rpx auto 0;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 0 5rpx 0 #ccc;
}
</style>
