<template>
  <view class="uu-p-10 uu-w-500">
    <view class="uu-p-10 uu-b-10">测试</view>
    <view class="uu-pt-10">测试</view>
    <view class="uu-m-10">测试</view>
    <view class="uu-b-10">测试</view>
    <view class="uu-flex uu-shadow-md">测试</view>
  </view>
</template>

<script lang="ts" setup>
</script>
